<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/sayfalar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item geri">
                            <a class="nav-link" href="javascript:history.back()">Geri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AnaMenü", "Genel")">HOME</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("KullaniciIslemleri", "Kullanici")">KULLANICI İŞLEMLERİ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("UrunIslemleri", "Urun")">ÜRÜN İŞLEMLERİ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("UrunEkle", "Urun")">ÜRÜN EKLE</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Profil", "Genel")">PROFİL</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
