@{
    Layout = "~/Views/Shared/AdminSayfalari.cshtml";
}

@model DepoYonetimSistemi.Models.UrunDepo

<form method="post" action="/Urun/UrunDuzenleVeritaban">
    <input type="text" id="ID" name="ID" value="@Model.ID" placeholder="Ürün ID" required><br><br>
    <!-- Ürün Adı -->
    <label for="UrunAd">Ürün Adı:</label><br />
    <input type="text" id="UrunAd" name="UrunAd" value="@Model.Ad" placeholder="Ürün Adı" required><br><br>

    <!-- Fiyat -->
    <label for="Fiyat">Fiyat:</label><br />
    <input type="number" id="Fiyat" name="Fiyat" value="@Model.Fiyat" placeholder="Fiyat" required><br><br>

    <!-- Stok Durumu -->
    <label for="StokDurumu">Stok Durumu:</label><br />
    <input type="number" id="StokDurumu" name="StokDurumu" value="@Model.StokDurumu" placeholder="Stok Durumu" required><br><br>

    <!-- Depo Adı -->
    <label for="DepoAdi">Depo Adı:</label><br />
    <select id="DepoAdi" name="DepoAdi">
        <option value="1" @(Model.DepoAdi == "Merkez" ? "selected" : "")>Merkez</option>
        <option value="2" @(Model.DepoAdi == "Ege" ? "selected" : "")>Ege</option>
        <option value="3" @(Model.DepoAdi == "Akdeniz" ? "selected" : "")>Akdeniz</option>
        <option value="4" @(Model.DepoAdi == "Karadeniz" ? "selected" : "")>Karadeniz</option>
        <option value="5" @(Model.DepoAdi == "İç" ? "selected" : "")>İç</option>
    </select><br><br>

    <!-- Değiştir Butonu -->
    <button type="submit">DEĞİŞTİR</button>
</form>

<!-- Sil Butonu Ayrı Form -->
<form method="post" action="/Urun/UrunSil">
    <input type="hidden" name="id" value="@Model.ID" />
    <button type="submit">SİL</button>
</form>

