@model IEnumerable<DepoYonetimSistemi.Models.KullaniciRoll>

@{
    Layout = "~/Views/Shared/AdminSayfalari.cshtml";
}

<table>
    <tbody>
        <form method="get" action="@Url.Action("FiltreliKullanici", "Kullanici")">
        <tr>
            <td>
                <input type="int" name="ID" placeholder="ID Ara" style="width: 80%" />
            </td>
            <td>
                <input type="text" name="Ad" placeholder="Ad Ara" style="width: 80%" />
            </td>
            <td>
                <input type="text" name="Soyad" placeholder="Soyad Ara" style="width: 80%" />
            </td>
            <td>
                <input type="text" name="Rol" placeholder="Rol Ara" style="width: 80%" />
            </td>
            <td>
                <input type="text" name="Mail" placeholder="Mail Ara" style="width: 80%" />
            </td>
            <td>
                <button type="submit">Filtrele</button>
            </td>
        </tr>
        </form>
    </tbody>
</table>


<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Rol</th>
            <th>Mail</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kullanici in Model)
        {
            <tr>
                <td>@kullanici.ID</td>
                <td>@kullanici.Isim</td>
                <td>@kullanici.Soyisim</td>
                <td>@kullanici.RolAdi</td>
                <td>@kullanici.Mail</td>
                <td>
                    <button onclick="window.location.href='@Url.Action("KullaniciDuzenle", "Kullanici", new { id = kullanici.ID })';">
                        Düzenle
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
