@model IEnumerable<DepoYonetimSistemi.Models.Kullanici>

@{
    Layout = "~/Views/Shared/AdminSayfalari.cshtml";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Rol</th>
            <th>Mail</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kullanici in Model)
        {
            <tr>
                <td>@kullanici.ID</td>
                <td>@kullanici.Isim</td>
                <td>@kullanici.Soyisim</td>
                <td>@kullanici.Rol.RolAdi</td>
                <td>@kullanici.Mail</td>
                <td>
                    <button onclick="window.location.href='@Url.Action("KullaniciDuzenle", "Kullanici", new { id = kullanici.ID })';">
                        Düzenle
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
